// Variables
@import 'variables';

// RESET
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-inline-cd{
  display: flex;
  align-items: center;
  justify-content: center;
}

img{
  max-width: 100%;
}

ul{
  list-style: none;
}

a{
  color: inherit;
  text-decoration: none;
}

.d-none{
  display: none;
}

@font-face {
  font-family: 'Press Start 2P';
  src: url('resources/font/PressStart2P-Regular.ttf');
}

body{
  background-color: $bg-color;
  font-family: 'Press Start 2P';
  line-height: 1.4;

  .container{
    width: 600px;
    margin: 50px auto;
  
    display:flex;
    flex-direction: column;
    align-items: center;

    &.versions-list{
      width: 100%;
      height: 100vh;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .img-container{
      width: 100%;
      margin-bottom: 50px;

      img{
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
      }
    }

    .list-items{

      li{

        margin-bottom:  16px;
        line-height: 1.4;
        color: $text-color;
        font-size: $font-size;
        text-align: center;
        text-transform: capitalize;

        &::first-letter{
          text-transform: capitalize;
        }

        &:hover{
          color: $accent-color;
        }

        .info{
          display: none;

          &-btn{
            margin-left: 15px;
            padding: 0.3rem 0.4rem;
            cursor: pointer;
            font-size: 75%;
    
            &:hover{
              color: $text-color;
            }
          }

          .game-info{
            padding: 2.5rem 0.5rem;
            position: absolute;
            z-index: 2;
            background-color: $accent-color;
            color: $text-color;
            width: 60%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);


            span{
              position: absolute;
              right: 0.5rem;
              top: 10px;
              padding: 0.2rem;
              color: white;
              cursor: pointer;
            }

            h2{
              font-size: 1em;
              margin-bottom: 10px;
              border-bottom: 1px solid white;
            }

            p{
              font-size: 0.8em;
            }
            
          }
        }

      }
    }
  }
}

@media screen and (min-width: 1440px) {
  body{

    .container{
      width: 675px;
      
      .list-items{
        
        li{
          font-size: $font-size-big;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  body{
    
    .container{
      width: 80%;
      margin-top: 1rem;

      .img-container{

        img{
          max-width: 80%;
        }
      }

      .list-items{

        li{
          font-size: $font-size-small;

          .info{
            display: block;
            
            &-btn{
              display: block;
            }
          }
        }
      }
    }
  }

}