* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Press Start 2P";
  src: url(/fonts/PressStart2P-Regular.ttf?f98cd910425bf727bd54ce767a9b6884);
}

body {
  background-color: #3535ec;
  font-family: "Press Start 2P";
  line-height: 1.4;
}

body .container {
  width: 600px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body .container .img-container {
  width: 100%;
  margin-bottom: 50px;
}

body .container .img-container img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

body .container ul li {
  margin-bottom: 16px;
  color: #ffffff;
  font-size: 1.4rem;
}

body .container ul li::first-letter {
  text-transform: capitalize;
}

body .container ul li:hover {
  color: #f70d68;
}

@media screen and (min-width: 1440px) {
  body .container {
    width: 675px;
  }

  body .container ul li {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 425px) {
  body .container {
    width: 60%;
    margin-top: 1rem;
  }

  body .container ul li {
    font-size: 1.2rem;
  }
}

